<div class="card-container">
    <div
            *ngFor="let item of objectList; let i = index"
            class="card"
            [class.bought]="item.bought"
            [class.light-red]="item.buyer === username"
    >
        <h3>{{ item.name }}</h3>
        <p><strong>Pris:</strong> {{ item.price | currency }}</p>
        <p><strong>Beskrivning:</strong> {{ item.description }}</p>
        <p><strong>Den som önskar:</strong> {{ item.wisher }}</p>
        <p><strong>Länk:</strong> <a [href]="item.href" target="_blank">{{ item.href  | slice:0:15 }}...</a></p>
        <div *ngIf="item.bought" class="warning">
            <p><strong>Köpare:</strong> {{ item.buyer }}</p>
        </div>
        <div class="button-group">
            <div *ngIf="item.bought && item.buyer === username" class="warning">
                <button (click)="regretBuy(i)">Ångra köp</button>
            </div>
            <div *ngIf="!item.bought" class="warning">
                <button (click)="buy(i)" [disabled]="item.bought">Köp</button>
            </div>
        </div>
    </div>
</div>
<ng-template #noItems>
    <p>No items available.</p>
</ng-template>





