<nav class="navbar">
  <a routerLink="/login">Logga in</a>
  <a routerLink="/sign-in">Registrera dig</a>
  <a routerLink="/dashboard">Hem</a>
  <a routerLink="/my-presents">Min önskelista</a>
  <a routerLink="/all-presents">Alla andras önskelista</a>
  <a routerLink="/bought-presents">Alla presenter jag köpt</a>
</nav>
<!--
<div>
  <h2>ExhaustMap</h2>
  * exhaustMap: Ignores new emissions until the current inner observable
  completes. Ideal for ignoring new actions while a current action is still
  being processed.

  <div *ngFor="let item of exhaustMapValues">{{ item }}</div>
  <button (click)="exhaust()">exhaust</button>

  <h2>MergeMap</h2>
  * Merges all inner observables emitted by the source concurrently.

  <div *ngFor="let item of mergeMapValues">{{ item }}</div>
  <button (click)="merge()">merge</button>

  <h2>SwitchMap</h2>
  * Cancels previous inner observables when a new observable is emitted by the
  source.
  <div *ngFor="let item of switchMapValues">{{ item }}</div>

  <button (click)="switch()">switch</button>

  <h2>ConcatMap</h2>
  * Use Case: When you want to preserve the order of the source observable and
  ensure that each inner observable completes before starting the next one.

  <div *ngFor="let item of concatMapValues">{{ item }}</div>
  <button (click)="concat()">concat</button>

  <h2>ZIppis</h2>
  * Zip operations

  <div *ngFor="let item of zipMapValues">{{ item }}</div>
  <button (click)="zip()">zip</button>
</div>
-->
<div class="content">
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <app-logout></app-logout>
</div>
